node_modules/
dist/
.config/
.Xauthority
.bash_history
.npm/
.viminfo
.cache/
.ssh/
.wine/
.local/
.pki/
.rpmdb/
.git/
*.log
npm-debug.log*
.env
*.p12
*.cer
*.certSigningRequest
.antigravity-server
.dotnet
.gitignore.swp
.vscode-server
.wget-hsts
