/* 
 * Surcharge CSS pour activer la sélection de texte
 * Ce fichier doit être chargé APRÈS phone.css ou phone.min.css
 */

/* Réactiver la sélection sur le body */
body {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
    -webkit-touch-callout: default !important;
}

/* Réactiver la sélection sur la classe NoSelect */
.NoSelect {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
    -webkit-touch-callout: default !important;
}

/* Réactiver la sélection dans l'historique de chat */
.chatHistory {
    user-select: text !important;
}

/* Réactiver la sélection dans les tags */
.tags li {
    user-select: text !important;
}

/* S'assurer que tous les éléments de texte sont sélectionnables */
div, span, p, td, th, li, label, a {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

/* Les boutons ne doivent pas être sélectionnables */
button, input[type="button"], input[type="submit"], .roundButtons, .toolBarButtons {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    cursor: pointer !important;
}
